# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.env
*.pem
**/.DS_Store

downloads
extracted_files
supported_files
page_distribution.png
pdf_page_counts_crown_royal_processing_converted.json
